h3
{
    font-size: 25px;
}

btn-success:hover
{
    background-color: rgb(177, 255, 177);
}

canvas
{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example
{
    from
    {
        box-shadow:gray 1px 1px 38px;
    }
    to
    {
        box-shadow: gray 1px 1px 38px;
    }
}